body{
    background-color:#fff;
   
}
@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 599px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 600px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1200px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) { @content; }
    }
}

.color-type{
  &-grass{
    background-color: #83de7b !important;
    color: #fff !important;
  }
  &-poison{
    background-color: #917bde !important;
    color: #fff !important;
  }
  &-fire{
    background-color: #d67c33 !important;
    color: #fff !important;
  }
  &-flying{
    background-color: #b8dde9a8 !important;
    color: #fff !important;
  }
  &-water{
    background-color: #2a79e0 !important;
    color: #fff !important;
  }
  &-bug{
    background-color: #99a039 !important;
    color: #fff !important;
  }
  &-normal{
    background-color: #9c7c35 !important;
    color: #fff !important;
  }
  &-electric{
    background-color: #f7e70a !important;
    color: #fff !important;
  }
  &-ground{
    background-color: #5e5c44 !important;
    color: #fff !important;
  }
  &-fairy{
    background-color: #e44adc !important;
    color: #fff !important;
  }
  &-fighting{
    background-color: #cc2129 !important;
    color: #fff !important;
  }
  &-psychic{
    background-color: #a70e41 !important;
    color: #fff !important;
  }
  &-rock{
    background-color: #2e2125 !important;
    color: #fff !important;
  }
  &-steel{
    background-color: #6b6b6b !important;
    color: #fff !important;
  }
  &-ice{
    background-color: #7ac1c4 !important;
    color: #fff !important;
  }
  &-ghost{
    background-color: #2f1d72 !important;
    color: #fff !important;
  }
  &-dragon{
    background-color: #8353af !important;
    color: #fff !important;
  }
}

.App{
    display: flex;
    justify-content: center;

    @media (min-width: 620px) {
        .container-sm, .container {
          max-width: 540px;
        }
    }
    @media (min-width: 828px) {
        .container-md, .container-sm, .container {
          max-width: 720px;
        }
    }
    @media (min-width: 1024px) {
        .container-lg, .container-md, .container-sm, .container {
          max-width: 960px;
        }
    }
     @media (min-width: 1200px) {
        .container-xl, .container-lg, .container-md, .container-sm, .container {
          max-width: 1200px;
        }
    }
    .title-img{
        height: 130px;
        width: 460px;
        @include for-size(phone-only) {
            height: 97px;
            width: 264px;
        }
    }
}

